@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 13%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 13%;
    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 13%;
    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 13%;
    --primary: 30 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 100% 95%;
    --secondary-foreground: 30 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 81%;
    --input: 0 0% 81%;
    --ring: 30 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 93%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 93%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 93%;
    --muted: 0 0% 19%;
    --muted-foreground: 0 0% 93%;
    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 93%;
    --primary: 30 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 70% 20%;
    --secondary-foreground: 30 100% 85%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 28%;
    --input: 0 0% 28%;
    --ring: 30 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gray-900 text-black dark:bg-gray-900 dark:text-white;
  }
}

body {
  @apply bg-gray-900 text-black dark:bg-gray-900 dark:text-white;
}

.phone-skew {
  transform: perspective(400px) rotateY(3deg) skewX(11.1deg) skewY(-10.9deg);
}

